@charset "utf-8";
@import url(../default/index.css);

.auto{ width:100%;}

/* --页面背景-- */
body{  color:#414042;font-size:12px; background:url(images/bg_body.gif) repeat-x; }
body a{ color:#004054;}
body a:hover{ text-decoration:none}

/* --鼠标提示样式-- */
.tooltip{border:solid 2px #5b87a5;}

/* --母板页 顶部工具条--（修改为absolute布局） */
#toolbar{ position:absolute; top:0; left:0;z-index:99;color:#d5dce0; background:none; border-bottom:none;}
#toolbar a{color:#d5dce0;}
#toolbar .home span{ display:inline-block;}
#toolbar .home img{ display:none;}

/* --母板页 顶部banner--（修改，不显示图片） */
#top{overflow:hidden;height:403px;background:url(images/bg_top_2010.png) center top no-repeat !important;background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/style/christmas/images/bg_top_2010.png',sizingMethod='image');}
#top .title{ margin-top:190px;margin-left:300px; color:#fff; font-size:16px;}

/* --母板页 顶部导航条--（修改背景图片）!important; */
#nav {height:58px; margin-top:-58px; width:960px;}
#nav ul{padding-left:158px; background:none; height:auto; line-height:normal;}
#nav ul li{width:110px;}
#nav ul li a{display:block; text-align:center; color:#d5dce0; font-size:16px; text-decoration:none;height:58px;line-height:58px;position:relative;}
#nav ul li.on a,
#nav ul li a:hover{color:#9dc266;background:url(images/bg_nav_down.png) right bottom no-repeat; }
#nav ul li.on a.up,
#nav ul li a:hover.up{ background:url(images/bg_nav_up_png8.png) center top no-repeat;}
#nav ul li.preview{ float:right;padding-top:3px; padding-right:2px;padding-left:20px; padding-bottom:0;color:#d5dce0;width:auto;line-height:normal;}
#nav ul li.preview a{display:inline;padding:2px;}
#nav ul li.preview a.on,
#nav ul li.preview a:hover{color:#9dc266; border-top:none; border-left:none; border-right:none; border-bottom:dashed 2px #b7ac94;}

/* --通用mod模块-- */
.mod{ border:none;}
.mod .head{border:none; background:none;}
.mod .cont{ padding:8px;}
.mod .cont ul{ margin:0; padding:0;}
.mod .cont ul li{ margin:8px 0;}

/* --母板页 主部分 -- */
.container { width:100%;margin-bottom:10px; position:relative; background:url(images/bg_snow.png) repeat;}

/* --母板页 左侧 -- */
.siderLeft{width:200px; float:none;position:absolute; left:30px; top:0;}

/* --母板页 中栏 --*/
.siderMiddle{width:100%;margin-bottom:10px;float:none;}
.siderMiddle .content{ margin-left:240px; margin-right:30px;}

/* --母板页 右侧 --*/
.siderRight{ }

/* --母板页 底部(网站声明) --*/
#foot{margin-top:0px;text-align:center; background:url(images/bg_footer.gif) center top repeat-x;border-top:none;}
#foot .wrapper{ background:url(images/bg_footer_content.png) center top no-repeat;height:480px;line-height:850px; overflow:hidden; padding-left:100px; }

/* --首页 文章列表页 --*/
.article{ border:none; }
.article .title{ background:none;border-bottom:dashed 1px #8a8675;}
.article .articlelist{ }
.article .articlelist .date{}
.article .articlelist .item{ border-bottom:none;}
.article .articlelist .item h4{ padding-left:5px;}
.article .articlelist .item h4 a{ color:#004054;padding-left:0;}
.article .articlelist .item .summary{}
.article .articlelist .item .tags{  height:16px; line-height:16px; padding-left:0; background:none;}
.article .articlelist .item .desc{ color:#999999; background:url(images/bg_plane.gif) no-repeat right bottom;}
.article .articlelist .item .desc ul{ padding-right:0px; line-height:24px; height:24px;padding-bottom:24px; padding-top:5px;}
.article .articlelist .item .desc ul li{margin-right:10px; float:right;}
.article .articlelist .item .desc ul li a{display:block;}
.article .articlelist .item .desc ul li a.comment{background:url(images/bg_comment.png) no-repeat 0 1px; height:24px; width:31px; margin-top:0; text-indent:1.0em; text-align:left; overflow:hidden;}
.article .pagination { }
.article .pagination span,
.article .pagination a{color:#004054;}
.article .pagination .current,
.article .pagination a:hover{border:#004054 1px solid; background-color:#d5dce0; color:#004054; font-weight:700; }
.article .pagination .disabled{}
.article .empty{}

/* --首页 文章列表页 列表模式 --*/
.listmode {}

/* --文章内容页 --*/
.articlecont .article{}

/* --相册列表页 --*/
.album{}

/* --相片页 --*/
.photo{ border: solid 0px #97d0ee;}
.photo .title{ background:none;border-bottom:dashed 1px #8a8675;}
.photo .title strong{ margin-left:0px;}
.photo .cont .fixfloat{ width:100%;}
.photo .cont .miniature{}
.photo .cont .pic{ width:100%; height:500px;border:solid 1px #bed5dc; padding:1px; font-size:0;}
.photo .cont .pic img{width:100%; height:100%; margin:0;}

/* --个人档案--*/
.profile{ border:none;}
.profile .crossband{ height:28px; line-height:28px; padding-left:5px;border-bottom: dashed 1px #8a8675; background:none;}
.profile .crossband span{ font-weight:700;}
.profile .input{}
.profile .input .fi{ padding:5px;}
.profile .input .even{ border-top:dashed 1px #e0e0e0; border-bottom:dashed 1px #e0e0e0;}
.profile .input label.name{width:8em; float:left; padding-top:3px;}
.profile .border{ border-top:solid 0px #1e79b9; }

/* --留言页 --*/
.leavecont .leave{ margin-top:0;border:none;}
.leavecont .leave .title{ background:none; padding-left:5px;font-size:14px;color:#414042;border-bottom:dashed 1px #8a8675;}
.leavecont .leave .leavelist{ border:none;}

/* --图片幻灯 --*/
#slide{ width:480px; overflow:hidden;}

/* --博客日历 --*/
#calendar{ height:194px; padding:0; margin:8px;}